In [2]:
Cube_no=0
num=1
for n in range(1,11):
    num=n
    Cube_no=n**3
    print(f"Cube of {num} is {Cube_no}")

Cube of 1 is 1
Cube of 2 is 8
Cube of 3 is 27
Cube of 4 is 64
Cube of 5 is 125
Cube of 6 is 216
Cube of 7 is 343
Cube of 8 is 512
Cube of 9 is 729
Cube of 10 is 1000

In [7]:
x=19
def Sum(x):
    return x*(x+1)//2
solution=Sum(x)
print(f"Sum of first 20 nautral numbers is",solution)
    
n=30
def Sum_of_natural_numbers(n):
    return n*(n+1)//2
result=Sum_of_natural_numbers(n)
print(f"Sum of first 30 nautral numbers is",result)
result - solution

Sum of first 20 nautral numbers is 190
Sum of first 30 nautral numbers is 465

275