List and Tuple

Q1)

In [1]:
my_list=[2,4,9,16,25,36,49]
my_list[4:]

[25, 36, 49]

Q2)

In [2]:
fav_cricketer=["sachin","sehwag","yuvraj"]
fav_cricketer.append("Dhoni")
print(fav_cricketer)

['sachin', 'sehwag', 'yuvraj', 'Dhoni']

Q3)

In [3]:
my_list=["a","e","i","o","u"]
print(len(my_list))

5

Q4)

In [4]:
B=[2,4,6]
b=[8,10,12,14]
B.extend(b)
print(B)

[2, 4, 6, 8, 10, 12, 14]

Q5)

In [5]:
a=[1,2,3,4]
a.append(8)
if 8 in a:
    print("list is mutable")
else:
    print("list is inmutable")

list is mutable

Q6)

In [6]:
b=[2,4,6,8,[3,5,7,9]]
len(b[4])

4

Q7)

In [7]:
thisistuple = (1,2,3,4)
print(len(thisistuple))
type(thisistuple)

4

tuple

Q8)

In [8]:
my_tuple=(2,7,8,10,13)
my_tuple[1]

7

Q9)

In [9]:
thisistuple=("apple","bannana","cerry")
print(len(thisistuple))

3

Q10)

In [10]:
fruits=("apple","bannana","cerry","orange","kiwi","melon","mango")
fruits[2:5]

('cerry', 'orange', 'kiwi')

Q11)

In [13]:
fruits=("apple","bannana","cerry","orange","kiwi","melon","mango")
fruits_list =list(fruits)
fruits_list[0]="grapes"
fruits_list=tuple(fruits_list)
print(fruits_list)

('grapes', 'bannana', 'cerry', 'orange', 'kiwi', 'melon', 'mango')

Q12)

In [19]:
a_tuple=(1,2,3,4,5)
del a_tuple